 <header class="fondosubida d-flex"> 

<div class="container p-4">
  <div class="row"> 
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Gestión de archivos usuario</h3>



<div class="container p-2">
  
          
       <h6>SUBIDA DE ARCHIVOS</h6> </style> 
          <div class="row">
          <div class="card text-center">
            
          </div>
          <form action="/subir" method="post" enctype="multipart/form-data">
          <input type="file" name="archivo" />
          <button clasS ="btn btn-warning btn-block" type="submit">Enviar</button>
          </div>

    </div>     


<br>
 <style>
          h6 { color: #2fc412; }
                 </style>
          <h6>CARGA DE ARCHIVOS</h6>
 <form action="/subir" method="get" enctype="multipart/form-data">

        <a href="/uploads/parte.pdf"  > Descargar</a>
     
     </form>   
<!-- Botón de retorno-->
<p></p>
<p></p>
<p></p>
<br>
<br>
<div class="ui buttons" onclick="history.back()" style="text-align:center">
          <button class="btn btn-dark"  >
          Volver atrás 
          </button>
          </div>

</form>


</div>
</div>
</div>
</div>

</header>